@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Koulen&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Koulen', cursive;
}

.button {
  background-color: #F15025;
  color: white;

  transition: 0.2s !important;
}

.button:hover {
  background-color: #191919 !important;
  color: white !important;

  transition: 0.2s !important;
}