@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.profileImage {
  width: 150px;
  height: 150px;
}

#originSection {
  margin-top: -1px !important;
  margin-bottom: -1px !important;

  padding: 10px 100px 10px 100px;
}

.intro {
  font-family: 'Poppins', sans-serif;
}

.blackImage {
  filter: invert(100%);
}

.gameJoyLogo {
  position: relative;
}

#finishedEmailSection {
  background-color: #F15025;
  color: #ffffff;

  padding: 50px 15px 25px 15px;
}

.emailSuccessful {
  transform: rotate(15deg) scale(130%);

  transition: transform 0.2s cubic-bezier(.33, .94, .54, 1.51);
}

@keyframes hover {
  0% {
    transform: translate(-50%, -40%);
  }

  50% {
    transform: translate(-50%, -35%);
  }

  100% {
    transform: translate(-50%, -40%);
  }
}

#gameJoyLogoIcon {
  animation-name: hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.35, .2, .3, 1);
}
 
@keyframes hoverBack {
  0% {
    transform: translate(-50%, -60%);
  }

  50% {
    transform: translate(-50%, -70%);
  }

  100% {
    transform: translate(-50%, -60%);
  }
}

#gameJoyLogoFlame {
  animation-name: hoverBack;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.35, .2, .3, 1);
}

@media (max-width: 768px) {
  .gameJoyLogo {
    margin-top: 300px !important;
    margin-bottom: 300px !important;
  }

  .intro {
    font-size: 17px !important;
    padding: 25px !important;
  }

  #originSection {
    padding: 10px 50px 20px 50px;
  }

  .originContent {
    margin-top: 40px !important;
  }

  .emailSection {
    padding-top: 150px;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}